<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Submit form</title>
</head>

<body>
    <form action="/result" method="POST">
        <label>Name</label>
        <input type="text" name="name" />

        <label>Age</label>
        <input type="number" name="age" />
        <input type="submit" value="Submit Query">
    </form>
</body>

</html>