body {
    background-color: azure;
}

h1,
h2 {
    color: blue;
}

.image-row {
    display: flex;
}

.image-col {
    padding: 5px;
}

.image-row img {
    height: 20vw;
    height: 20vw;
}

.strong-word {
    font-family: 'Courier New', Courier, monospace;
    color: burlywood;
}