<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Product List</title>
    <link href="/css/style.css" rel="stylesheet" />
</head>

<body>

    <div id="container">
        <label>Name:</label>
        <span>
            <%=product.name%>
        </span>
        <label>Description:</label>
        <span>
            <%=product.description%>
        </span>

        <label>Price:</label>
        <span>
            <%=product.price%>
        </span>

        <label>Id:</label>
        <span>
            <%=product.id%>
        </span>

        <button>Add to cart</button>
    </div>
</body>

</html>