body {
    background-color: white;
    font-size: 11pt;
    color: #404040;
    font-size: 11pt;
    font-family: Georgia, Garamond, serif;
    background-image: url("https://courses.cs.washington.edu/courses/cse190m/09sp/homework/1/silverware.jpg");
    background-attachment: fixed;
}

a {
    color: #A4A400
}

.headings {
    padding-top: 8px;
    padding-bottom: 8px;
    color: #A4A400;
    background-color: #F0F0F0;
    text-align: center;
    font-family: Lucida, "Sans Unicode", Helvetica, Arial, sans-serif;
    font-size: 22pt;
    text-decoration: underline;
}

h2.headings {
    font-size: 18pt;
    text-align: left;
}

.deleted-word {
    text-decoration: line-through;
}

abbr {
    text-decoration: underline;
}

.copy-right {
    font-family: monospace;
    text-align: end;
    width: max-content;
}

.bullet-less-list {
    list-style-type: none;
}

.comments {
    font-style: italic;
    background-color: #FFFFA8;
}